<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Amatic+SC:700|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="public/style.css"/>
		<title> FanGuide </title>		
		<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>

	</head>
	<body>
		<h2>
			this is the header in views/layouts/main.handlebars
		</h2>
		{{{ body }}}		

	</body>
		<script type="text/javascript" src="public/script_new.js"></script>
</html>